@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
#content {
  background: url(../src/assets/rodion-kutsaev-8P-uQaTd8rw-unsplash.jpg);
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  object-fit: cover;
  background: no-repeat center;
}

.container {
  width: 500px;
  height: 600px;
  background: hsla(0, 0%, 100%, 0.603);
  color: black;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbarDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#searchBar {
  position: relative;
  width: 200px;
  /*height: 20px;*/
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 0.875rem;
  padding: 4px 10px;
}

#searchButton {
  cursor: pointer;
  background: transparent;
  border: transparent;
  color: black;
  font-size: 1rem;
}
/*slider*/
.switcher {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  margin: 0 10px;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  transition: 0.4s;
  border-radius: 15px;
}

.switcher input {
  display: none;
}

.slider:before {
  position: absolute;
  content: "C";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 5px;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
}

input.active + .slider {
  background-color: #565452;
}

input.active + .slider:before {
  content: "F";
  transform: translatex(20px);
}

/*main-content*/
.main-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*height: 500px;*/
  padding: 50px 0px;
}

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*gap: 20px;*/
  color: black;
}

.cityName {
  font-size: 3rem;
}
.temperature {
  font-size: 4rem;
}
.atmosphere {
  font-size: 24px;
  font-weight: bold;
}
.main-right {
  font-size: 6rem;
  color: black;
}

.additional-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  justify-content: space-around;
  align-items: center;
}
/*.additional-text {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
}*/

.feelsLike,
.humidity,
.windSpeed,
.visibility {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.feelsLike i,
.humidity i,
.windSpeed i,
.visibility i {
  color: black;
  font-size: 30px;
}

.text {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
}
